<!doctype html>
<html lang="en">

<head data-th-replace="/fragments/head"></head>

<body>

    <!--Navigation-->
    <nav data-th-replace="/fragments/nav :: nav-front"></nav>

    <!--Categories-->
    <div class="container-fluid mt-5">
        <div class="row">
            <div data-th-replace="/categories"></div>
            <div class="col"></div>
            <div class="col-6 text-center"></div>
        </div>
    </div>

    <!--Cart Overview-->
    <div class="col-3">
        <div data-th-replace="/fragments/cart_overview"></div>
    </div>

</body>

<!--Footer-->
<div data-th-replace="/fragments/footer"></div>
