<!doctype html>
<html lang="en">

<head data-th-replace="/fragments/head"></head>

<body>

<nav data-th-replace="/fragments/nav :: nav-front"></nav>

<div class="container-fluid mt-5">
    <div class="row">
        <div data-th-replace="/categories"></div>
        <div class="col"></div>
        <div class="col-8">

            <h2 class="display-3 mb-5" data-th-text="${categoryName} ?: 'All products'"></h2>

            <div class="row">
                <div class="col-4" data-th-each="product: ${products}">
                    <p>
                        <img style="width:200px;" data-th-src="@{'/media/' + ${product.image}}">
                    </p>
                    <h4 data-th-text="${product.name}"></h4>
                    <div class="desc" data-th-utext="${product.description}"></div>
                    <p data-th-text="'$' + ${product.price}"></p>
<!--                    <div style="position: relative;">-->
<!--                        <p>-->
<!--                            <a class="btn btn-primary addToCart"-->
<!--                               data-th-attr="data-id=${product.id}"-->
<!--                               data-th-href="@{'/cart/add/' + ${product.id}}">Add to cart</a>-->
<!--                            <img class="ajaxLoader d-none" src="/images/ajax-loader.gif">-->
<!--                        </p>-->
<!--                        <div class="btn btn-sm btn-success hide productAdded">Product added!</div>-->
<!--                    </div>-->
                </div>
            </div>

<!--            <nav class="mt-3" data-th-if="${count > perPage}">-->
<!--                <ul class="pagination">-->
<!--                    <li class="page-item" data-th-if="${page > 0}">-->
<!--                        <a data-th-href="@{${#httpServletRequest.requestURI}} + '?page=__${page-1}__'" class="page-link">Previous</a>-->
<!--                    </li>-->
<!--                    <li class="page-item" data-th-each="number: ${#numbers.sequence(0, pageCount-1)}" th:classappend="${page==number} ? 'active' : ''">-->
<!--                        <a data-th-href="@{${#httpServletRequest.requestURI}} + '?page=__${number}__'" class="page-link" data-th-text="${number+1}"></a>-->
<!--                    </li>-->
<!--                    <li class="page-item" data-th-if="${page < pageCount-1}">-->
<!--                        <a data-th-href="@{${#httpServletRequest.requestURI}} + '?page=__${page+1}__'" class="page-link">Next</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </nav>-->

        </div>
    </div>
</div>

<div th:replace="/fragments/footer"></div>

<script>

    $("a.addToCart").click(function (e) {
        e.preventDefault();

        let $this = $(this);

        $this.next().removeClass('d-none');

        let id = $this.attr("data-id");
        let url = "/cart/add/"+id;

        $.get(url, {}, function (data) {
            $('div.cart').html(data);
        }).done(function () {
            $this.parent().parent().find('div.productAdded').fadeIn();
            $this.next().addClass('d-none');
            setTimeout(() => {
                $this.parent().parent().find('div.productAdded').fadeOut();
            }, 1000);
        });
    });

</script>

</body>

</html>
